<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
		</nav>
		<div class="container">

		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<a href="mailto:peterphantrinh@gmail.com">
					<img src="assets/images/Email-iconfinder.png"/ alt="Email">
				</a>
			</ul>
			<ul>
				<a href="https://github.com/wakahisa">
					<img src="assets/images/GitHub-iconfinder.png"/ alt="Github">
				</a>
			</ul>
			<ul>		
				<a href="https://linkedin.com/in/peterptrinh/">
					<img src="assets/images/Linkedin-iconfinder.png"/ alt="Linkedin">
				</a>
			</ul>
		</footer>
	</body>
</html>